body {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .container {
      display: flex;
      justify-content: space-between;
  }
  
  .game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-top: 80px;
  }

  .game-intro h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    line-height: 1.5;
    padding-top: 30px
  }
  
  .game-intro p {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    /* margin-top: 80px;
    padding-bottom: 50px; */
  }

  .enter-key {
    width: 100px;
  }

  .arrow-keys {
    margin: 10px;
    width: 120px;
  }

  .game-stats {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    /* width: 100%; */
    margin-top: 80px;
  }

  .game-stats ul {
    /* display: flex; */
    list-style: none;
    padding: 0;
  }

  .game-stats ul li img {
    height: 30px;
  }
     
