body {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .container {
      display: flex;
      justify-content: space-between;
  }
  
  .game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .game-intro h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    padding-top: 30px;
  }
  
  .game-intro p {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    padding-top: 30px;
    padding-bottom: 50px;
  }
     
